.callout.secondary.text-center
  .award-ribbon.show-for-medium
    %h1= nomination.votes_count
  .ribbon.show-for-small-only
    %h1= nomination.votes_count
  = image_tag nomination.nominee.image_url, class: "image-award"
  %div
    %span.label.award
      %h5
        %i.fa.fa-github
        = nomination.nominee.handle
    %h2.pink= nomination.nominee.name
    %h1= nomination.body
