!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "LaunchVotes"

    = render "application/favicon"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag

  %body
    .top-bar
      .row
        .small-12.columns
          .top-bar-title
            %strong
              = link_to root_path do
                = image_tag("logo.png", class: "logo")
                &nbsp;LaunchVotes
          .top-bar-right
            -if user_signed_in?
              %ul.dropdown.menu{"data-dropdown-menu": ""}
                %li.is-dropdown-submenu-parent
                  = link_to nil do
                    = image_tag(current_user.image_url, class: "image-topbar")
                    = current_user.name
                  %ul.menu.vertical
                    -if current_user.admin?
                      %li
                        = link_to admin_teams_path, class: "button" do
                          %i.fa.fa-bolt
                          Admin
                    %li
                      = link_to user_path(current_user), class: "button" do
                        %i.fa.fa-user-circle
                        My Profile
                    %li
                      = link_to sign_out_path, class: "button", method: :delete do
                        %i.fa.fa-sign-out
                        Sign Out
            -else
              %ul.vertical.medium-horizontal.menu
                %li
                  = link_to auth_path(:github), class: "padding-top-one-and-a-half" do
                    %i.fa.fa-github
                    Sign In with GitHub
    - flash.each do |name, msg|
      %div{ class: name + " callout", data: { closable: "" }}
        = content_tag :span, msg
        %button.close-button{ "aria-label": "Dismiss alert", data: { close: "" }, type: "button" }
          %span{ "aria-hidden": true } &times;
    .margin-top-two
      = yield
