!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "LaunchVotes"

    = stylesheet_link_tag "application"
    = javascript_include_tag "application", "data-turbolinks-track": true
    = csrf_meta_tag

  %body
    .top-bar
      .top-bar-title
        %span{"data-responsive-toggle": "responsive-menu", "data-hide-for": "medium"}
          %button.menu-icon.dark{type: "button", "data-toggle": ""}
        %strong.header-font
          &nbsp;
          =link_to "LaunchVotes", root_path
      .top-bar-right
        %ul.vertical.medium-horizontal.menu
          -if user_signed_in?
            %li.white
              = link_to "Sign Out", sign_out_path, method: :delete
          -else
            %li.white
              = link_to auth_path(:github) do
                %i.fa.fa-github
                Sign in with GitHub
    - flash.each do |name, msg|
      %div{ class: name + " callout", data: { closable: "" }}
        = content_tag :span, msg
        %button.close-button{ "aria-label": "Dismiss alert", data: { close: "" }, type: "button" }
          %span{ "aria-hidden": true } &times;
    = yield
